<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu-hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,132},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>anniu-huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,132},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1322,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1322,542}}</string>
                <key>sourceSize</key>
                <string>{1322,542}</string>
            </dict>
            <key>dingwei-wuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,170},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,132},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>dingweiziji.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,268},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{476,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,6}}</string>
                <key>sourceSize</key>
                <string>{476,6}</string>
            </dict>
            <key>jixuuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,207},{173,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,44}}</string>
                <key>sourceSize</key>
                <string>{173,44}</string>
            </dict>
            <key>likaiyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,207},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>location_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,367},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,253},{13,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,120}}</string>
                <key>sourceSize</key>
                <string>{13,120}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,10},{465,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,120}}</string>
                <key>sourceSize</key>
                <string>{465,120}</string>
            </dict>
            <key>xie_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,207},{189,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,106}}</string>
                <key>sourceSize</key>
                <string>{189,106}</string>
            </dict>
            <key>xie_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,208},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>location.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb5ee7222b00ee96a82361709a6ad38$</string>
            <key>textureFileName</key>
            <string>location.png</string>
        </dict>
    </dict>
</plist>
