<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_flag_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>infobox.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,57},{219,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,132}}</string>
                <key>sourceSize</key>
                <string>{219,132}</string>
            </dict>
            <key>tip_dazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,139},{103,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,52}}</string>
                <key>sourceSize</key>
                <string>{103,52}</string>
            </dict>
            <key>tip_dianpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,413},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>tip_diaozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,307},{104,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,52}}</string>
                <key>sourceSize</key>
                <string>{104,52}</string>
            </dict>
            <key>tip_duizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{105,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,53}}</string>
                <key>sourceSize</key>
                <string>{105,53}</string>
            </dict>
            <key>tip_fanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,86},{104,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,51}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>tip_jiaozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>tip_tuolaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{161,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,53}}</string>
                <key>sourceSize</key>
                <string>{161,53}</string>
            </dict>
            <key>tip_waitfanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{303,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,40}}</string>
                <key>sourceSize</key>
                <string>{303,40}</string>
            </dict>
            <key>tip_waitjiaozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{303,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,40}}</string>
                <key>sourceSize</key>
                <string>{303,40}</string>
            </dict>
            <key>tip_waitkoupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{303,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,40}}</string>
                <key>sourceSize</key>
                <string>{303,40}</string>
            </dict>
            <key>tip_yizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,307},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>typ_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,469},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>typ_nomal.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,474},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>typ_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>x0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,97},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,77},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,57},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2b2c233be334051c99585c60371118d$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
