<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueL-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1027},{213,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,177}}</string>
                <key>sourceSize</key>
                <string>{213,177}</string>
            </dict>
            <key>blueL-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,423},{371,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,534}}</string>
                <key>sourceSize</key>
                <string>{371,534}</string>
            </dict>
            <key>blueL-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,538},{247,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,534}}</string>
                <key>sourceSize</key>
                <string>{247,534}</string>
            </dict>
            <key>blueL-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{247,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,534}}</string>
                <key>sourceSize</key>
                <string>{247,534}</string>
            </dict>
            <key>blueL-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,417},{287,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,549}}</string>
                <key>sourceSize</key>
                <string>{287,549}</string>
            </dict>
            <key>blueL-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{328,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,566}}</string>
                <key>sourceSize</key>
                <string>{328,566}</string>
            </dict>
            <key>blueL-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,882},{366,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,474}}</string>
                <key>sourceSize</key>
                <string>{366,474}</string>
            </dict>
            <key>blueL-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1426},{235,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,359}}</string>
                <key>sourceSize</key>
                <string>{235,359}</string>
            </dict>
            <key>blueL-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1031},{95,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,220}}</string>
                <key>sourceSize</key>
                <string>{95,220}</string>
            </dict>
            <key>blueL-Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{239,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,549}}</string>
                <key>sourceSize</key>
                <string>{239,549}</string>
            </dict>
            <key>burnBehind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2819},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2806},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2775},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2656},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2654},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2641},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2610},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2491},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnBehind_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2445},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>burnFront_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2127},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2131},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2118},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1809},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1800},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1491},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1495},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>burnFront_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1482},{325,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,316}}</string>
                <key>sourceSize</key>
                <string>{325,316}</string>
            </dict>
            <key>chipenggang-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2985},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2831},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2794},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2794},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2984},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2971},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2940},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2821},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>chipenggang-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2667},{196,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{196,162}</string>
            </dict>
            <key>ef_majiang_rotation0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1906},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,1787},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1475},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1259},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1250},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1514},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation7.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1027},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_rotation8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1031},{390,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,230}}</string>
                <key>sourceSize</key>
                <string>{390,230}</string>
            </dict>
            <key>ef_majiang_updown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1404},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1316},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1294},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1206},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1184},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1096},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,1074},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,986},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>ef_majiang_updown8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,740},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2708},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2467},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2291},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2267},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,2091},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2067},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1891},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1867},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1691},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>fire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1491},{206,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,198}}</string>
                <key>sourceSize</key>
                <string>{206,198}</string>
            </dict>
            <key>greenW-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1242},{171,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,231}}</string>
                <key>sourceSize</key>
                <string>{171,231}</string>
            </dict>
            <key>greenW-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,225},{190,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,582}}</string>
                <key>sourceSize</key>
                <string>{190,582}</string>
            </dict>
            <key>greenW-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{205,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,595}}</string>
                <key>sourceSize</key>
                <string>{205,595}</string>
            </dict>
            <key>greenW-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,209},{212,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,593}}</string>
                <key>sourceSize</key>
                <string>{212,593}</string>
            </dict>
            <key>greenW-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{221,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,596}}</string>
                <key>sourceSize</key>
                <string>{221,596}</string>
            </dict>
            <key>greenW-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,598}}</string>
                <key>sourceSize</key>
                <string>{224,598}</string>
            </dict>
            <key>greenW-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,796},{229,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,487}}</string>
                <key>sourceSize</key>
                <string>{229,487}</string>
            </dict>
            <key>greenW-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{230,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,494}}</string>
                <key>sourceSize</key>
                <string>{230,494}</string>
            </dict>
            <key>greenW-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,706},{174,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,505}}</string>
                <key>sourceSize</key>
                <string>{174,505}</string>
            </dict>
            <key>img_GoldVipLizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,546},{192,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{192,120}</string>
            </dict>
            <key>jidoulizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,796},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>purpleW-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2589},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2503},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2384},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2298},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2179},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2449},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>purpleW-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2436},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>shuaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,423},{121,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,136}}</string>
                <key>sourceSize</key>
                <string>{121,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254bdfe62652b34dc5c69804f16373e0$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
