<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,180},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>eff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{656,64}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{656,64}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{204,40}}</string>
                <key>offset</key>
                <string>{154,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,2},{204,40}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,88},{90,32}}</string>
                <key>offset</key>
                <string>{148,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,4},{90,32}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,208},{74,30}}</string>
                <key>offset</key>
                <string>{165,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,392},{580,64}}</string>
                <key>offset</key>
                <string>{32,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,22},{580,64}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,84}}</string>
                <key>offset</key>
                <string>{103,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,2},{462,84}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{406,84}}</string>
                <key>offset</key>
                <string>{130,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,2},{406,84}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{388,80}}</string>
                <key>offset</key>
                <string>{144,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,6},{388,80}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,256},{236,76}}</string>
                <key>offset</key>
                <string>{77,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,2},{236,76}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,560},{242,64}}</string>
                <key>offset</key>
                <string>{89,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,11},{242,64}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,494},{250,64}}</string>
                <key>offset</key>
                <string>{101,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,8},{250,64}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>eff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{256,64}}</string>
                <key>offset</key>
                <string>{113,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,4},{256,64}}</string>
                <key>sourceSize</key>
                <string>{676,86}</string>
            </dict>
            <key>huagang.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,326},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf008eb91a323d44c4523c8a73b76c8$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
