<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>New.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{742,1101},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>create_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{790,666},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crystal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,216}</string>
                <key>spriteSourceSize</key>
                <string>{291,216}</string>
                <key>textureRect</key>
                <string>{{263,5},{291,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crystal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,216}</string>
                <key>spriteSourceSize</key>
                <string>{291,216}</string>
                <key>textureRect</key>
                <string>{{1,559},{291,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crystal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,216}</string>
                <key>spriteSourceSize</key>
                <string>{292,216}</string>
                <key>textureRect</key>
                <string>{{1,265},{292,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crystal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,216}</string>
                <key>spriteSourceSize</key>
                <string>{291,216}</string>
                <key>textureRect</key>
                <string>{{1,852},{291,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,38}</string>
                <key>spriteSourceSize</key>
                <string>{128,38}</string>
                <key>textureRect</key>
                <string>{{896,458},{128,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ddz_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,50}</string>
                <key>spriteSourceSize</key>
                <string>{138,50}</string>
                <key>textureRect</key>
                <string>{{564,991},{138,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,37}</string>
                <key>spriteSourceSize</key>
                <string>{108,37}</string>
                <key>textureRect</key>
                <string>{{1,1145},{108,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dq_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,50}</string>
                <key>spriteSourceSize</key>
                <string>{110,50}</string>
                <key>textureRect</key>
                <string>{{875,346},{110,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dsg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,51}</string>
                <key>spriteSourceSize</key>
                <string>{136,51}</string>
                <key>textureRect</key>
                <string>{{736,822},{136,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,2}</string>
                <key>spriteSourceSize</key>
                <string>{622,2}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,39}</string>
                <key>spriteSourceSize</key>
                <string>{124,39}</string>
                <key>textureRect</key>
                <string>{{896,588},{124,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gsj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,51}</string>
                <key>spriteSourceSize</key>
                <string>{131,51}</string>
                <key>textureRect</key>
                <string>{{355,1131},{131,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hlzz_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,51}</string>
                <key>spriteSourceSize</key>
                <string>{185,51}</string>
                <key>textureRect</key>
                <string>{{903,159},{185,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,39}</string>
                <key>spriteSourceSize</key>
                <string>{173,39}</string>
                <key>textureRect</key>
                <string>{{615,678},{173,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huashui_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,49}</string>
                <key>spriteSourceSize</key>
                <string>{179,49}</string>
                <key>textureRect</key>
                <string>{{609,719},{179,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_bzq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,152}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{312,572},{142,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{757,525},{137,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_dq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,152}</string>
                <key>textureRect</key>
                <string>{{299,263},{150,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_dsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{413,847},{149,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_gdy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,147}</string>
                <key>spriteSourceSize</key>
                <string>{124,147}</string>
                <key>textureRect</key>
                <string>{{415,998},{124,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_gsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,145}</string>
                <key>spriteSourceSize</key>
                <string>{132,145}</string>
                <key>textureRect</key>
                <string>{{595,241},{132,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_hlzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,145}</string>
                <key>spriteSourceSize</key>
                <string>{147,145}</string>
                <key>textureRect</key>
                <string>{{466,568},{147,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_huashui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{234,171}</string>
                <key>spriteSourceSize</key>
                <string>{240,175}</string>
                <key>textureRect</key>
                <string>{{556,5},{234,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_jqqd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{155,129}</string>
                <key>textureRect</key>
                <string>{{310,716},{155,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_jss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,144}</string>
                <key>spriteSourceSize</key>
                <string>{153,144}</string>
                <key>textureRect</key>
                <string>{{312,417},{153,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_jzmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{615,534},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_kd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,151}</string>
                <key>spriteSourceSize</key>
                <string>{142,151}</string>
                <key>textureRect</key>
                <string>{{451,263},{142,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_kd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,144}</string>
                <key>spriteSourceSize</key>
                <string>{135,144}</string>
                <key>textureRect</key>
                <string>{{596,388},{135,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,150}</string>
                <key>spriteSourceSize</key>
                <string>{136,150}</string>
                <key>textureRect</key>
                <string>{{458,416},{136,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_pdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,134}</string>
                <key>spriteSourceSize</key>
                <string>{124,134}</string>
                <key>textureRect</key>
                <string>{{610,822},{124,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_pjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,154}</string>
                <key>spriteSourceSize</key>
                <string>{116,154}</string>
                <key>textureRect</key>
                <string>{{259,998},{116,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_sss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{176,156}</string>
                <key>spriteSourceSize</key>
                <string>{176,168}</string>
                <key>textureRect</key>
                <string>{{729,1},{176,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_tdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,140}</string>
                <key>spriteSourceSize</key>
                <string>{127,140}</string>
                <key>textureRect</key>
                <string>{{467,715},{127,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_btn_ttz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{733,325},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,258}</string>
                <key>spriteSourceSize</key>
                <string>{260,258}</string>
                <key>textureRect</key>
                <string>{{1,5},{260,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_zgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,149}</string>
                <key>spriteSourceSize</key>
                <string>{152,149}</string>
                <key>textureRect</key>
                <string>{{259,847},{152,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_btn_zpj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{172,124}</string>
                <key>textureRect</key>
                <string>{{729,159},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{488,1131},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jqqd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,50}</string>
                <key>spriteSourceSize</key>
                <string>{178,50}</string>
                <key>textureRect</key>
                <string>{{609,770},{178,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jqqd_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,50}</string>
                <key>spriteSourceSize</key>
                <string>{178,50}</string>
                <key>textureRect</key>
                <string>{{789,770},{178,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jqqd_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,51}</string>
                <key>spriteSourceSize</key>
                <string>{184,51}</string>
                <key>textureRect</key>
                <string>{{259,475},{184,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jqqd_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,145}</string>
                <key>spriteSourceSize</key>
                <string>{49,145}</string>
                <key>textureRect</key>
                <string>{{559,844},{49,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jzmj_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,49}</string>
                <key>spriteSourceSize</key>
                <string>{183,49}</string>
                <key>textureRect</key>
                <string>{{259,661},{183,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,38}</string>
                <key>spriteSourceSize</key>
                <string>{210,38}</string>
                <key>textureRect</key>
                <string>{{219,479},{210,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,39}</string>
                <key>spriteSourceSize</key>
                <string>{166,39}</string>
                <key>textureRect</key>
                <string>{{668,958},{166,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd2_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,50}</string>
                <key>spriteSourceSize</key>
                <string>{175,50}</string>
                <key>textureRect</key>
                <string>{{616,958},{175,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,38}</string>
                <key>spriteSourceSize</key>
                <string>{208,38}</string>
                <key>textureRect</key>
                <string>{{259,265},{208,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,38}</string>
                <key>spriteSourceSize</key>
                <string>{210,38}</string>
                <key>textureRect</key>
                <string>{{219,691},{210,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,51}</string>
                <key>textureRect</key>
                <string>{{813,950},{134,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,127}</string>
                <key>spriteSourceSize</key>
                <string>{49,127}</string>
                <key>textureRect</key>
                <string>{{866,950},{49,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,38}</string>
                <key>spriteSourceSize</key>
                <string>{127,38}</string>
                <key>textureRect</key>
                <string>{{891,714},{127,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nn_1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,38}</string>
                <key>spriteSourceSize</key>
                <string>{170,38}</string>
                <key>textureRect</key>
                <string>{{729,285},{170,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,51}</string>
                <key>spriteSourceSize</key>
                <string>{137,51}</string>
                <key>textureRect</key>
                <string>{{709,960},{137,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,39}</string>
                <key>spriteSourceSize</key>
                <string>{131,39}</string>
                <key>textureRect</key>
                <string>{{907,1},{131,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pdk_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,48}</string>
                <key>spriteSourceSize</key>
                <string>{140,48}</string>
                <key>textureRect</key>
                <string>{{841,757},{140,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,38}</string>
                <key>spriteSourceSize</key>
                <string>{124,38}</string>
                <key>textureRect</key>
                <string>{{616,1135},{124,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,38}</string>
                <key>spriteSourceSize</key>
                <string>{212,38}</string>
                <key>textureRect</key>
                <string>{{263,223},{212,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tdh_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,38}</string>
                <key>spriteSourceSize</key>
                <string>{210,38}</string>
                <key>textureRect</key>
                <string>{{219,903},{210,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tdh_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,38}</string>
                <key>spriteSourceSize</key>
                <string>{212,38}</string>
                <key>textureRect</key>
                <string>{{219,265},{212,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tdh_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,49}</string>
                <key>spriteSourceSize</key>
                <string>{139,49}</string>
                <key>textureRect</key>
                <string>{{762,960},{139,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,49}</string>
                <key>spriteSourceSize</key>
                <string>{108,49}</string>
                <key>textureRect</key>
                <string>{{841,899},{108,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xianmian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,94}</string>
                <key>spriteSourceSize</key>
                <string>{49,94}</string>
                <key>textureRect</key>
                <string>{{814,1086},{49,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xianmian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{865,1086},{71,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ysz_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,51}</string>
                <key>textureRect</key>
                <string>{{219,1131},{134,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,36}</string>
                <key>spriteSourceSize</key>
                <string>{126,36}</string>
                <key>textureRect</key>
                <string>{{917,950},{126,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zgz_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,54}</string>
                <key>spriteSourceSize</key>
                <string>{154,54}</string>
                <key>textureRect</key>
                <string>{{733,469},{154,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create.png</string>
            <key>size</key>
            <string>{955,1183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e716b16c0680b4333d3b80f0f225f08:dabc51c8019e02d8e001f8ab8dd23ec1:1abeb978da183462b456137728a1f533$</string>
            <key>textureFileName</key>
            <string>create.png</string>
        </dict>
    </dict>
</plist>
