<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_dq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,177}</string>
                <key>spriteSourceSize</key>
                <string>{253,177}</string>
                <key>textureRect</key>
                <string>{{253,348},{253,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,183}</string>
                <key>spriteSourceSize</key>
                <string>{264,183}</string>
                <key>textureRect</key>
                <string>{{506,348},{264,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,183}</string>
                <key>spriteSourceSize</key>
                <string>{262,183}</string>
                <key>textureRect</key>
                <string>{{0,531},{262,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,204}</string>
                <key>spriteSourceSize</key>
                <string>{262,204}</string>
                <key>textureRect</key>
                <string>{{524,714},{262,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hlzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,183}</string>
                <key>spriteSourceSize</key>
                <string>{262,183}</string>
                <key>textureRect</key>
                <string>{{262,531},{262,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hsmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,183}</string>
                <key>spriteSourceSize</key>
                <string>{262,183}</string>
                <key>textureRect</key>
                <string>{{524,531},{262,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jjmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{0,0},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jqqd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,183}</string>
                <key>spriteSourceSize</key>
                <string>{262,183}</string>
                <key>textureRect</key>
                <string>{{0,714},{262,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{253,0},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_llmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{506,0},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,175}</string>
                <key>spriteSourceSize</key>
                <string>{253,175}</string>
                <key>textureRect</key>
                <string>{{0,348},{253,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{0,174},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,183}</string>
                <key>spriteSourceSize</key>
                <string>{262,183}</string>
                <key>textureRect</key>
                <string>{{262,714},{262,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{253,174},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,174}</string>
                <key>spriteSourceSize</key>
                <string>{253,174}</string>
                <key>textureRect</key>
                <string>{{506,174},{253,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newcreater.png</string>
            <key>size</key>
            <string>{786,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d3142f7fa320e4e92ffab4fc56713b:2b5c709f35044dc531c6c00c72cba9bc:a90e3dbadefa0136a1c3854e4a24a3ce$</string>
            <key>textureFileName</key>
            <string>newcreater.png</string>
        </dict>
    </dict>
</plist>
