<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alert_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,510}</string>
                <key>spriteSourceSize</key>
                <string>{872,510}</string>
                <key>textureRect</key>
                <string>{{0,0},{872,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert_queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,90}</string>
                <key>textureRect</key>
                <string>{{0,510},{238,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,45}</string>
                <key>spriteSourceSize</key>
                <string>{91,45}</string>
                <key>textureRect</key>
                <string>{{238,510},{91,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alter_cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,90}</string>
                <key>textureRect</key>
                <string>{{329,510},{238,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alert.png</string>
            <key>size</key>
            <string>{872,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523fec2e90b7700d9b8b2e5bc4f3e59f:ae644ba8346746e706aef062f086f12e:c93ee1cf30f92d7eb5fc81faab3f05ed$</string>
            <key>textureFileName</key>
            <string>alert.png</string>
        </dict>
    </dict>
</plist>
