<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,61},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,129},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkbox_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,897},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>checkbox_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,129},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>checkbox_duihao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,119},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>clubset_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,222},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{118,54}</string>
            </dict>
            <key>clubset_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,413},{117,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,54}}</string>
                <key>sourceSize</key>
                <string>{117,54}</string>
            </dict>
            <key>commo_loadin_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,839},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>commo_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,278},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>common_1px.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,83},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>common_barBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,178},{727,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,23}}</string>
                <key>sourceSize</key>
                <string>{727,23}</string>
            </dict>
            <key>common_barBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,127},{490,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,22}}</string>
                <key>sourceSize</key>
                <string>{490,22}</string>
            </dict>
            <key>common_barImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,203},{695,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,17}}</string>
                <key>sourceSize</key>
                <string>{695,17}</string>
            </dict>
            <key>common_barImg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,151},{220,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,18}}</string>
                <key>sourceSize</key>
                <string>{220,18}</string>
            </dict>
            <key>common_barMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,155},{463,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,33}}</string>
                <key>sourceSize</key>
                <string>{463,33}</string>
            </dict>
            <key>common_closeShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>common_close_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{68,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,174}}</string>
                <key>sourceSize</key>
                <string>{68,174}</string>
            </dict>
            <key>common_eff_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,235},{752,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,66}}</string>
                <key>sourceSize</key>
                <string>{752,66}</string>
            </dict>
            <key>common_fen_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,203},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>contest_tipbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{911,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,57}}</string>
                <key>sourceSize</key>
                <string>{911,57}</string>
            </dict>
            <key>create_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,61},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,989},{24,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,586}}</string>
                <key>sourceSize</key>
                <string>{24,586}</string>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{502,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,246}}</string>
                <key>sourceSize</key>
                <string>{502,246}</string>
            </dict>
            <key>room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,839},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,83},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>setting_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,61},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{118,58}</string>
            </dict>
            <key>setting_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,61},{118,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{118,58}</string>
            </dict>
            <key>share_dingding.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,222},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>share_moments.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,358},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>share_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,565},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>share_xianliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,703},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>shengdou.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,941},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>tishikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,61},{232,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,60}}</string>
                <key>sourceSize</key>
                <string>{232,60}</string>
            </dict>
            <key>userprbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{395,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,50}}</string>
                <key>sourceSize</key>
                <string>{395,50}</string>
            </dict>
            <key>userselect.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,43},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>warming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:577df1ad1fabd20cf29a6c41e40f228f$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
