<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1458},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>createdBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>createdBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>createdBtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,48},{130,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,36}}</string>
                <key>sourceSize</key>
                <string>{130,36}</string>
            </dict>
            <key>mengban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{1172,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1172,160}}</string>
                <key>sourceSize</key>
                <string>{1172,160}</string>
            </dict>
            <key>opened_status_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,180},{59,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,22}}</string>
                <key>sourceSize</key>
                <string>{59,22}</string>
            </dict>
            <key>opened_status_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,25},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>opened_status_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{58,21}</string>
            </dict>
            <key>openedbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{184,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,80}}</string>
                <key>sourceSize</key>
                <string>{184,80}</string>
            </dict>
            <key>record1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>record2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>record3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,180},{142,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,34}}</string>
                <key>sourceSize</key>
                <string>{142,34}</string>
            </dict>
            <key>titilebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{362,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,101}}</string>
                <key>sourceSize</key>
                <string>{362,101}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,324},{1132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1132,33}}</string>
                <key>sourceSize</key>
                <string>{1132,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425cf2a722035c4bc487f60bfae570f8$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
