<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Userprotocol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,49}</string>
                <key>spriteSourceSize</key>
                <string>{202,49}</string>
                <key>textureRect</key>
                <string>{{1,49},{202,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bzq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,52}</string>
                <key>spriteSourceSize</key>
                <string>{176,52}</string>
                <key>textureRect</key>
                <string>{{1,584},{176,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,50}</string>
                <key>textureRect</key>
                <string>{{444,570},{116,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{203,104},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{1,153},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,50}</string>
                <key>spriteSourceSize</key>
                <string>{115,50}</string>
                <key>textureRect</key>
                <string>{{384,311},{115,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,56}</string>
                <key>spriteSourceSize</key>
                <string>{177,56}</string>
                <key>textureRect</key>
                <string>{{442,1},{177,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,56}</string>
                <key>spriteSourceSize</key>
                <string>{129,56}</string>
                <key>textureRect</key>
                <string>{{404,180},{129,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>disroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,52}</string>
                <key>spriteSourceSize</key>
                <string>{199,52}</string>
                <key>textureRect</key>
                <string>{{203,156},{199,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,55}</string>
                <key>spriteSourceSize</key>
                <string>{185,55}</string>
                <key>textureRect</key>
                <string>{{197,262},{185,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,52}</string>
                <key>spriteSourceSize</key>
                <string>{129,52}</string>
                <key>textureRect</key>
                <string>{{370,363},{129,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gxj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,52}</string>
                <key>spriteSourceSize</key>
                <string>{175,52}</string>
                <key>textureRect</key>
                <string>{{1,638},{175,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,51}</string>
                <key>spriteSourceSize</key>
                <string>{123,51}</string>
                <key>textureRect</key>
                <string>{{338,596},{123,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>history_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,52}</string>
                <key>spriteSourceSize</key>
                <string>{199,52}</string>
                <key>textureRect</key>
                <string>{{1,205},{199,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jjs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,51}</string>
                <key>spriteSourceSize</key>
                <string>{183,51}</string>
                <key>textureRect</key>
                <string>{{1,311},{183,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,51}</string>
                <key>spriteSourceSize</key>
                <string>{177,51}</string>
                <key>textureRect</key>
                <string>{{180,541},{177,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,50}</string>
                <key>spriteSourceSize</key>
                <string>{194,50}</string>
                <key>textureRect</key>
                <string>{{1,259},{194,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,52}</string>
                <key>spriteSourceSize</key>
                <string>{124,52}</string>
                <key>textureRect</key>
                <string>{{284,596},{124,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>my_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,48}</string>
                <key>spriteSourceSize</key>
                <string>{201,48}</string>
                <key>textureRect</key>
                <string>{{205,54},{201,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,55}</string>
                <key>spriteSourceSize</key>
                <string>{177,55}</string>
                <key>textureRect</key>
                <string>{{1,473},{177,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{233,541},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pdk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,54}</string>
                <key>spriteSourceSize</key>
                <string>{177,54}</string>
                <key>textureRect</key>
                <string>{{180,485},{177,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_bind.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,51}</string>
                <key>spriteSourceSize</key>
                <string>{203,51}</string>
                <key>textureRect</key>
                <string>{{237,1},{203,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,46}</string>
                <key>spriteSourceSize</key>
                <string>{234,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,51}</string>
                <key>spriteSourceSize</key>
                <string>{200,51}</string>
                <key>textureRect</key>
                <string>{{1,100},{200,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>realname.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,50}</string>
                <key>spriteSourceSize</key>
                <string>{198,50}</string>
                <key>textureRect</key>
                <string>{{202,210},{198,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,48}</string>
                <key>spriteSourceSize</key>
                <string>{128,48}</string>
                <key>textureRect</key>
                <string>{{359,520},{128,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,47}</string>
                <key>spriteSourceSize</key>
                <string>{131,47}</string>
                <key>textureRect</key>
                <string>{{364,417},{131,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,51}</string>
                <key>spriteSourceSize</key>
                <string>{123,51}</string>
                <key>textureRect</key>
                <string>{{391,570},{123,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ssz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,50}</string>
                <key>textureRect</key>
                <string>{{186,319},{182,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tbz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,55}</string>
                <key>spriteSourceSize</key>
                <string>{179,55}</string>
                <key>textureRect</key>
                <string>{{183,371},{179,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,52}</string>
                <key>spriteSourceSize</key>
                <string>{177,52}</string>
                <key>textureRect</key>
                <string>{{1,530},{177,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,49}</string>
                <key>spriteSourceSize</key>
                <string>{126,49}</string>
                <key>textureRect</key>
                <string>{{233,596},{126,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,52}</string>
                <key>spriteSourceSize</key>
                <string>{128,52}</string>
                <key>textureRect</key>
                <string>{{362,466},{128,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ttz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,54}</string>
                <key>spriteSourceSize</key>
                <string>{179,54}</string>
                <key>textureRect</key>
                <string>{{1,417},{179,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ysz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,55}</string>
                <key>spriteSourceSize</key>
                <string>{178,55}</string>
                <key>textureRect</key>
                <string>{{182,428},{178,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zgz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,51}</string>
                <key>spriteSourceSize</key>
                <string>{180,51}</string>
                <key>textureRect</key>
                <string>{{1,364},{180,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{500,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d0ec0343685e5fabd791d332075dbd:4ab1dcb742c3640bda5d7ef73185d960:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
