<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,300},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>bet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,85},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>bet_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,265},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>bet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,264},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>bet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,167},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>bet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>bet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,234},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,37}}</string>
                <key>sourceSize</key>
                <string>{64,37}</string>
            </dict>
            <key>btn_buqiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>btn_cuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>btn_qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>fanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,227},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>kaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,227},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,36}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nn_btn.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e0d02aeee3701c3ca48a7bde9068c1b$</string>
            <key>textureFileName</key>
            <string>nn_btn.png</string>
        </dict>
    </dict>
</plist>
