<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>btn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{198,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,62}}</string>
                <key>sourceSize</key>
                <string>{198,62}</string>
            </dict>
            <key>btn_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{198,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,62}}</string>
                <key>sourceSize</key>
                <string>{198,62}</string>
            </dict>
            <key>nn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,171},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>nn_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,501},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,386},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>nn_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,216},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,184},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_190.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,234},{138,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,60}}</string>
                <key>sourceSize</key>
                <string>{138,60}</string>
            </dict>
            <key>nn_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,396},{98,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,57}}</string>
                <key>sourceSize</key>
                <string>{98,57}</string>
            </dict>
            <key>nn_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,349},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>nn_220.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,326},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>nn_230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{136,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,57}}</string>
                <key>sourceSize</key>
                <string>{136,57}</string>
            </dict>
            <key>nn_240.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>nn_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_250.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,296},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>nn_260.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{140,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,59}</string>
            </dict>
            <key>nn_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,462},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,166},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,446},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>nn_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,134},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>nn_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,496},{93,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,53}</string>
            </dict>
            <key>nn_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,116},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>nn_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,465},{93,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,53}</string>
            </dict>
            <key>nn_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,84},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>nn_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,410},{93,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,53}</string>
            </dict>
            <key>nn_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,66},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>sizha.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,296},{104,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,51}}</string>
                <key>sourceSize</key>
                <string>{104,51}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,130},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,43},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,410},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,400},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,430},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,378},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,326},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,358},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,306},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,254},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nn_type.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1acfa627ac4848fa16c3ccca79a82dd7$</string>
            <key>textureFileName</key>
            <string>nn_type.png</string>
        </dict>
    </dict>
</plist>
