<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,600}}</string>
                <key>sourceSize</key>
                <string>{896,600}</string>
            </dict>
            <key>bgrate.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,712},{680,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,52}}</string>
                <key>sourceSize</key>
                <string>{680,52}</string>
            </dict>
            <key>bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,419},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,33}</string>
            </dict>
            <key>btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,144},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>chakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,384},{72,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,33}}</string>
                <key>sourceSize</key>
                <string>{72,33}</string>
            </dict>
            <key>checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,658},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>checkbox_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,604},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>haoyouguanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1651},{174,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,39}}</string>
                <key>sourceSize</key>
                <string>{174,39}</string>
            </dict>
            <key>haoyoutequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2009},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>haoyoutequan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1651},{178,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,45}}</string>
                <key>sourceSize</key>
                <string>{178,45}</string>
            </dict>
            <key>invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,58},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,44}}</string>
                <key>sourceSize</key>
                <string>{102,44}</string>
            </dict>
            <key>listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{820,690}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,690}}</string>
                <key>sourceSize</key>
                <string>{820,690}</string>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,454},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>memberstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1827},{171,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,39}}</string>
                <key>sourceSize</key>
                <string>{171,39}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,353},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>sliderbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,104},{510,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,20}}</string>
                <key>sourceSize</key>
                <string>{510,20}</string>
            </dict>
            <key>table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1831},{176,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,37}}</string>
                <key>sourceSize</key>
                <string>{176,37}</string>
            </dict>
            <key>tianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,104},{93,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,38}}</string>
                <key>sourceSize</key>
                <string>{93,38}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,616},{1033,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1033,58}}</string>
                <key>sourceSize</key>
                <string>{1033,58}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,515},{1033,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1033,58}}</string>
                <key>sourceSize</key>
                <string>{1033,58}</string>
            </dict>
            <key>tongjixiangqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1831},{175,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,46}}</string>
                <key>sourceSize</key>
                <string>{175,46}</string>
            </dict>
            <key>xiangqingtongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1651},{151,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,40}}</string>
                <key>sourceSize</key>
                <string>{151,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club_shitu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82b31ede0056adf584a86bab7bd4322$</string>
            <key>textureFileName</key>
            <string>club_shitu.png</string>
        </dict>
    </dict>
</plist>
