<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moren-you.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,247},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>moren-zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,198},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>moren-zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,149},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>paiming_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,412},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>paiming_top2.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,336},{90,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>paiming_top3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,336},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,296},{165,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,38}}</string>
                <key>sourceSize</key>
                <string>{165,38}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{992,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,33}}</string>
                <key>sourceSize</key>
                <string>{992,33}</string>
            </dict>
            <key>today.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,296},{79,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,36}}</string>
                <key>sourceSize</key>
                <string>{79,36}</string>
            </dict>
            <key>week.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>xuanzhong-you.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,100},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>xuanzhong-zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,51},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>xuanzhong-zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{181,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,47}}</string>
                <key>sourceSize</key>
                <string>{181,47}</string>
            </dict>
            <key>昨天.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,377},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed8d43b9c1579f82ef1c387276c8505c$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
