<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji_index_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,64},{66,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{66,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,68},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{68,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{68,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,68},{60,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{60,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{64,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{64,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,68},{60,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{60,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{62,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{68,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{66,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{66,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,60},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,60},{64,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,68},{40,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{40,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{60,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,72},{66,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,68},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{56,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,68},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{56,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{56,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,68},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,68},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{60,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>emoji_index_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,66},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{64,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emojis_index.png</string>
            <key>size</key>
            <string>{928,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578c13b529a6cf7cb95c9ea5d15f2f57$</string>
            <key>textureFileName</key>
            <string>emojis_index.png</string>
        </dict>
    </dict>
</plist>
