<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudong_xianhua0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{383,1},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{574,1},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{765,1},{189,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_xianhua0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{1,179},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{192,179},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{383,179},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{574,179},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{765,192},{189,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_xianhua0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{1,357},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{192,357},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{383,357},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{574,357},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{765,383},{189,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_xianhua0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{1,535},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{192,535},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{383,535},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{574,535},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{765,574},{189,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_xianhua0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{1,713},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{192,713},{189,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_xianhua0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,176}</string>
                <key>spriteSourceSize</key>
                <string>{189,176}</string>
                <key>textureRect</key>
                <string>{{765,383},{189,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interact_4.png</string>
            <key>size</key>
            <string>{942,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56f1c6df826068ebbae9b87c39bd4f1b:5af4683036109c3b9719cb0fdc3928f2:7013a45757886520f5de76c7b65e8611$</string>
            <key>textureFileName</key>
            <string>interact_4.png</string>
        </dict>
    </dict>
</plist>
