<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudong_zhuaji0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{217,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{217,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{433,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{649,1},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{1,156},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{217,156},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{433,156},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{649,156},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{1,311},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{217,311},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{433,311},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{649,311},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{1,466},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{217,466},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{433,466},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhuaji0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,153}</string>
                <key>spriteSourceSize</key>
                <string>{214,153}</string>
                <key>textureRect</key>
                <string>{{649,466},{214,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interact_3.png</string>
            <key>size</key>
            <string>{864,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a89d472ac8aaaef3ffe560105a1676c5:96edda5e5e708c7775c0ec13dca3a2cc:ca6e98b558d711ca93f5e52112a4a3a3$</string>
            <key>textureFileName</key>
            <string>interact_3.png</string>
        </dict>
    </dict>
</plist>
