<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudong_fanqie0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{161,1},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,1},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{1,115},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{161,115},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,115},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{1,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{161,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_fanqie0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{112,158}</string>
                <key>textureRect</key>
                <string>{{321,229},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interact_5.png</string>
            <key>size</key>
            <string>{480,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7beff372c78a5ac37f405b7a3d2e1668:118396b5168b72ce81e4cc8cf6e1561f:c6cb4616e61f1a18373908d08f733bd5$</string>
            <key>textureFileName</key>
            <string>interact_5.png</string>
        </dict>
    </dict>
</plist>
