<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudong_poshui0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{1,199},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{189,1},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{1,387},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{1,575},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{1,763},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{199,189},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{199,387},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{199,585},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{199,773},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{387,1},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{387,199},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{387,397},{186,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_poshui0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{397,585},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{575,1},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{575,199},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{585,397},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_poshui0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,196}</string>
                <key>spriteSourceSize</key>
                <string>{186,196}</string>
                <key>textureRect</key>
                <string>{{585,595},{186,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interact_2.png</string>
            <key>size</key>
            <string>{772,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32b60a1c8691faf7e9334543ab111a0:2f88e5ffdb4fc04d7a21bf60a4bfba0f:9f4abe749772c9f6f6bce610ced47469$</string>
            <key>textureFileName</key>
            <string>interact_2.png</string>
        </dict>
    </dict>
</plist>
