<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hudong_zhadan0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{177,1},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{353,1},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{529,1},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{705,1},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{1,170},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{177,170},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{353,170},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{529,170},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{705,177},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{1,353},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{1,529},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{1,705},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{170,339},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{346,339},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{522,339},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{698,353},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{170,522},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{170,698},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{339,508},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{515,508},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{691,522},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{339,691},{174,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hudong_zhadan0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{508,677},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{508,846},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hudong_zhadan0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,167}</string>
                <key>spriteSourceSize</key>
                <string>{174,167}</string>
                <key>textureRect</key>
                <string>{{684,691},{174,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interact_1.png</string>
            <key>size</key>
            <string>{873,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1baa869772b82a4b024096781d4ac8a7:6441b61c9afd38324873c9ad8c96fb5f:2f24f0e9b44b6f34301b36f8009913cf$</string>
            <key>textureFileName</key>
            <string>interact_1.png</string>
        </dict>
    </dict>
</plist>
