<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_ziji_dachupai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1102},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,119}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>Frame_ziji_dachupai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1565},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>Frame_ziji_dachupai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1483},{85,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,119}}</string>
                <key>sourceSize</key>
                <string>{85,119}</string>
            </dict>
            <key>Frame_ziji_dachupai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1577},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{130,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{130,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1354},{105,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,143}}</string>
                <key>sourceSize</key>
                <string>{105,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1461},{102,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,143}}</string>
                <key>sourceSize</key>
                <string>{102,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{101,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1369},{103,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,143}}</string>
                <key>sourceSize</key>
                <string>{103,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1256},{106,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,143}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{127,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,143}}</string>
                <key>sourceSize</key>
                <string>{127,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,994},{124,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,143}}</string>
                <key>sourceSize</key>
                <string>{124,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1120},{121,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,143}}</string>
                <key>sourceSize</key>
                <string>{121,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1136},{118,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,143}}</string>
                <key>sourceSize</key>
                <string>{118,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1127},{117,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,143}}</string>
                <key>sourceSize</key>
                <string>{117,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1243},{114,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,143}}</string>
                <key>sourceSize</key>
                <string>{114,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1359},{111,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,143}}</string>
                <key>sourceSize</key>
                <string>{111,143}</string>
            </dict>
            <key>Frame_ziji_pingpaibei_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{108,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,143}}</string>
                <key>sourceSize</key>
                <string>{108,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,994},{131,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,143}}</string>
                <key>sourceSize</key>
                <string>{131,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{105,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,143}}</string>
                <key>sourceSize</key>
                <string>{105,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1360},{102,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,143}}</string>
                <key>sourceSize</key>
                <string>{102,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1469},{101,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1364},{103,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,143}}</string>
                <key>sourceSize</key>
                <string>{103,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1246},{106,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,143}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1016},{128,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,143}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,994},{125,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,143}}</string>
                <key>sourceSize</key>
                <string>{125,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1011},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1121},{119,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,143}}</string>
                <key>sourceSize</key>
                <string>{119,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1242},{116,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,143}}</string>
                <key>sourceSize</key>
                <string>{116,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1256},{113,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,143}}</string>
                <key>sourceSize</key>
                <string>{113,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1371},{110,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,143}}</string>
                <key>sourceSize</key>
                <string>{110,143}</string>
            </dict>
            <key>Frame_ziji_pingpaizheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1146},{108,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,143}}</string>
                <key>sourceSize</key>
                <string>{108,143}</string>
            </dict>
            <key>Frame_ziji_shoupai-zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,214}}</string>
                <key>sourceSize</key>
                <string>{151,214}</string>
            </dict>
            <key>Frame_ziji_xuezhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1464},{111,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,130}}</string>
                <key>sourceSize</key>
                <string>{111,130}</string>
            </dict>
            <key>Frame_ziji_xuezhan_1_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1660},{95,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,109}}</string>
                <key>sourceSize</key>
                <string>{95,109}</string>
            </dict>
            <key>Frame_ziji_xuezhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1400},{114,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>Frame_ziji_xuezhan_2_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1655},{97,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,109}}</string>
                <key>sourceSize</key>
                <string>{97,109}</string>
            </dict>
            <key>Frame_ziji_xuezhan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1283},{115,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{115,130}</string>
            </dict>
            <key>Frame_ziji_xuezhan_3_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1577},{99,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,109}}</string>
                <key>sourceSize</key>
                <string>{99,109}</string>
            </dict>
            <key>Frame_ziji_xuezhan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,147},{118,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{118,130}</string>
            </dict>
            <key>Frame_ziji_xuezhan_4_old.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1559},{101,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,109}}</string>
                <key>sourceSize</key>
                <string>{101,109}</string>
            </dict>
            <key>img_cardvalue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,887},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,870},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue12.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,870},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,899},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,892},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,870},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue16.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,763},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue17.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue18.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,768},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue22.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,639},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue23.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue24.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue26.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,644},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue27.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue28.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,515},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue29.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue32.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,520},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue33.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue34.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,391},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue35.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue36.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue38.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,396},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue39.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,267},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue41.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue42.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue44.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,272},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue45.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue46.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue47.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue49.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,148},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>img_cardvalue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue7.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue8.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_cardvalue9.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_normal_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1011},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,119}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>shu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1193},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>shu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1472},{85,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,119}}</string>
                <key>sourceSize</key>
                <string>{85,119}</string>
            </dict>
            <key>shu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1572},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>zhengmian.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,391},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selfhand.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35dc056971d199173eedf2bfdf4f8c77$</string>
            <key>textureFileName</key>
            <string>selfhand.png</string>
        </dict>
    </dict>
</plist>
