<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_shangjia_pingpai_fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,98},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1106},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1109},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{73,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1107},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1182},{71,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,93}}</string>
                <key>sourceSize</key>
                <string>{71,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1181},{71,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,93}}</string>
                <key>sourceSize</key>
                <string>{71,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,289},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,480},{82,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,671},{81,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,93}}</string>
                <key>sourceSize</key>
                <string>{81,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,862},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1028},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1039},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1028},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_fan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1030},{75,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,93}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,963},{74,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,94}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,965},{73,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,94}}</string>
                <key>sourceSize</key>
                <string>{73,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,967},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,957},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,966},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,193},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,94}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,384},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,575},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,94}}</string>
                <key>sourceSize</key>
                <string>{81,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,766},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,870},{79,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,870},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,950},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{76,94}</string>
            </dict>
            <key>Frame_shangjia_pingpai_zheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,951},{75,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>sourceSize</key>
                <string>{75,94}</string>
            </dict>
            <key>Frame_shangjia_shupai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1040},{75,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,91}}</string>
                <key>sourceSize</key>
                <string>{75,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1111},{66,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>sourceSize</key>
                <string>{66,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1065},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1041},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,994},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{69,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1184},{72,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1117},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1118},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1255},{71,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{70,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,994},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1064},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{66,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>sourceSize</key>
                <string>{66,91}</string>
            </dict>
            <key>Frame_shangjia_shupai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1133},{65,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,91}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,870},{91,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,100}}</string>
                <key>sourceSize</key>
                <string>{91,100}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_1o.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1040},{78,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{78,91}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,870},{93,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_2o.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1254},{79,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,91}}</string>
                <key>sourceSize</key>
                <string>{79,91}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,870},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_3o.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1179},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,870},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>Frame_shangjia_xuezhan_4o.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1120},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>img_upcardvalue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,870},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue12.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue14.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue18.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue19.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue24.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue25.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue26.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue27.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue28.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue31.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue32.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue33.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue34.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue36.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue37.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue38.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue39.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue42.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue43.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue44.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue45.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue46.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue48.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue49.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,870},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>img_upcardvalue5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
            <key>img_upcardvalue9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,154}}</string>
                <key>sourceSize</key>
                <string>{122,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uphand.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e56d736010cc474acb9827da9e4695e9$</string>
            <key>textureFileName</key>
            <string>uphand.png</string>
        </dict>
    </dict>
</plist>
