<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,398},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>bigtuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,389},{137,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,55}}</string>
                <key>sourceSize</key>
                <string>{137,55}</string>
            </dict>
            <key>bigwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,250},{137,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,55}}</string>
                <key>sourceSize</key>
                <string>{137,55}</string>
            </dict>
            <key>difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,398},{55,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{55,26}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,250},{79,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,105}}</string>
                <key>sourceSize</key>
                <string>{79,105}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{186,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,42}}</string>
                <key>sourceSize</key>
                <string>{186,42}</string>
            </dict>
            <key>juxu.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,190},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,331},{97,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,45}}</string>
                <key>sourceSize</key>
                <string>{97,45}</string>
            </dict>
            <key>loseUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{297,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,146}}</string>
                <key>sourceSize</key>
                <string>{297,146}</string>
            </dict>
            <key>loseitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,398},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,331},{53,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>paishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,418},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,359},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,232},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,90},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,378},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
            <key>winUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,246}}</string>
                <key>sourceSize</key>
                <string>{409,246}</string>
            </dict>
            <key>winitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,148},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>zhuaniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,426},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9064b43d652bbe29b4cb983f15ea8462$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
