<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jipaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1449},{528,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,78}}</string>
                <key>sourceSize</key>
                <string>{528,78}</string>
            </dict>
            <key>jipaiqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{583,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,78}}</string>
                <key>sourceSize</key>
                <string>{583,78}</string>
            </dict>
            <key>mark_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,814},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>mark_ti.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,777},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1979},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>pass_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{1334,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,207}}</string>
                <key>sourceSize</key>
                <string>{1334,207}</string>
            </dict>
            <key>tip_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,393},{278,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,42}}</string>
                <key>sourceSize</key>
                <string>{278,42}</string>
            </dict>
            <key>tip_nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,113},{278,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,42}}</string>
                <key>sourceSize</key>
                <string>{278,42}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1713},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1659},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1605},{79,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,52}}</string>
                <key>sourceSize</key>
                <string>{79,52}</string>
            </dict>
            <key>tips_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1550},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>tips_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1979},{93,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,52}}</string>
                <key>sourceSize</key>
                <string>{93,52}</string>
            </dict>
            <key>topbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,109}}</string>
                <key>sourceSize</key>
                <string>{235,109}</string>
            </dict>
            <key>type_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1449},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>warm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,725},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>warm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,673},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tips.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ddf893c15c51805ba559022fd381ee8$</string>
            <key>textureFileName</key>
            <string>tips.png</string>
        </dict>
    </dict>
</plist>
