<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>four.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{484,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{484,206}}</string>
                <key>sourceSize</key>
                <string>{490,206}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,488},{198,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,196}}</string>
                <key>sourceSize</key>
                <string>{198,196}</string>
            </dict>
            <key>kuangother.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,168},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>kuangself.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,45}}</string>
                <key>sourceSize</key>
                <string>{164,45}</string>
            </dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{7,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{7,206}}</string>
                <key>sourceSize</key>
                <string>{9,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>report.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3979319db356ba575a34d3f6539946d5$</string>
            <key>textureFileName</key>
            <string>report.png</string>
        </dict>
    </dict>
</plist>
