<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tjd_cardAnim0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,157}</string>
                <key>spriteSourceSize</key>
                <string>{125,157}</string>
                <key>textureRect</key>
                <string>{{1,512},{125,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardAnim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,178}</string>
                <key>spriteSourceSize</key>
                <string>{130,178}</string>
                <key>textureRect</key>
                <string>{{1,766},{130,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardAnim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,202}</string>
                <key>spriteSourceSize</key>
                <string>{125,202}</string>
                <key>textureRect</key>
                <string>{{1,639},{125,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardAnim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,204}</string>
                <key>spriteSourceSize</key>
                <string>{91,204}</string>
                <key>textureRect</key>
                <string>{{1,78},{91,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardAnim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,201}</string>
                <key>spriteSourceSize</key>
                <string>{75,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardAnim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,204}</string>
                <key>spriteSourceSize</key>
                <string>{117,204}</string>
                <key>textureRect</key>
                <string>{{1,393},{117,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardHide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,168}</string>
                <key>spriteSourceSize</key>
                <string>{109,168}</string>
                <key>textureRect</key>
                <string>{{1,171},{109,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tjd_cardOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,168}</string>
                <key>spriteSourceSize</key>
                <string>{109,168}</string>
                <key>textureRect</key>
                <string>{{1,282},{109,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tjd_cardAnim.png</string>
            <key>size</key>
            <string>{206,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1f6655650071d1c1329c23ef11ac67:b5e1d887a8a0dbc78856093b595748b7:abbbbc23afe9ebfdce3db343f2275005$</string>
            <key>textureFileName</key>
            <string>tjd_cardAnim.png</string>
        </dict>
    </dict>
</plist>
