<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tjd_10dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,923},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>tjd_1dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,162},{203,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,78}}</string>
                <key>sourceSize</key>
                <string>{203,78}</string>
            </dict>
            <key>tjd_28gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,862},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>tjd_2dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,82},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tjd_3dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tjd_4dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,643},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tjd_5dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,643},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tjd_6dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,643},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>tjd_7dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,643},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tjd_8dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,643},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>tjd_9dianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,643},{217,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,78}}</string>
                <key>sourceSize</key>
                <string>{217,78}</string>
            </dict>
            <key>tjd_dian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,923},{167,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,84}}</string>
                <key>sourceSize</key>
                <string>{167,84}</string>
            </dict>
            <key>tjd_dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,899},{121,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,80}}</string>
                <key>sourceSize</key>
                <string>{121,80}</string>
            </dict>
            <key>tjd_dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,761},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>tjd_dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,136},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>tjd_dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,80},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>tjd_dian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,476},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>tjd_dian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,536},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>tjd_dian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,403},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>tjd_dian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>tjd_dian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,270},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>tjd_duhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,862},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>tjd_dui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{128,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,76}}</string>
                <key>sourceSize</key>
                <string>{128,76}</string>
            </dict>
            <key>tjd_dui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,618},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_dui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,448},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_dui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,242},{142,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,76}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>tjd_dui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,398},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_dui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,370},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_dui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,320},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_dui8.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,214},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>tjd_dui9.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,292},{141,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,76}}</string>
                <key>sourceSize</key>
                <string>{141,76}</string>
            </dict>
            <key>tjd_fen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,860},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>tjd_fen10.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,862},{79,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,37}}</string>
                <key>sourceSize</key>
                <string>{79,37}</string>
            </dict>
            <key>tjd_fen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,860},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,37}}</string>
                <key>sourceSize</key>
                <string>{65,37}</string>
            </dict>
            <key>tjd_fen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,80},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>tjd_fen7.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,860},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{65,34}</string>
            </dict>
            <key>tjd_hongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,639}}</string>
                <key>sourceSize</key>
                <string>{558,639}</string>
            </dict>
            <key>tjd_kaipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{278,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,42}}</string>
                <key>sourceSize</key>
                <string>{278,42}</string>
            </dict>
            <key>tjd_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,643},{251,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,37}}</string>
                <key>sourceSize</key>
                <string>{251,37}</string>
            </dict>
            <key>tjd_yuraun.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,896},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>xianzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,899},{168,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tjd_dianfen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941512c671ae8f7596989fcaa3d34388$</string>
            <key>textureFileName</key>
            <string>tjd_dianfen.png</string>
        </dict>
    </dict>
</plist>
