<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_special_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1476},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1350},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,1024},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,898},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1224},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,998},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>ani_special_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,898},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>ani_special_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,704},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>ani_special_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,709},{172,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,162}}</string>
                <key>sourceSize</key>
                <string>{172,162}</string>
            </dict>
            <key>ani_special_real_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2074},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1972},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,351},{294,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,144}}</string>
                <key>sourceSize</key>
                <string>{294,144}</string>
            </dict>
            <key>ani_special_real_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,485},{368,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,112}}</string>
                <key>sourceSize</key>
                <string>{368,112}</string>
            </dict>
            <key>ani_special_real_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1438},{260,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,106}}</string>
                <key>sourceSize</key>
                <string>{260,106}</string>
            </dict>
            <key>ani_special_real_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,881},{280,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,289}}</string>
                <key>sourceSize</key>
                <string>{280,289}</string>
            </dict>
            <key>ani_special_real_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1172},{264,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,271}}</string>
                <key>sourceSize</key>
                <string>{264,271}</string>
            </dict>
            <key>ani_special_real_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1919},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1845},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1764},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,456},{388,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,283}}</string>
                <key>sourceSize</key>
                <string>{388,283}</string>
            </dict>
            <key>ani_special_real_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,210},{400,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,244}}</string>
                <key>sourceSize</key>
                <string>{400,244}</string>
            </dict>
            <key>ani_special_real_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,599},{360,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,116}}</string>
                <key>sourceSize</key>
                <string>{360,116}</string>
            </dict>
            <key>ani_special_real_glow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1670},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_glow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1462},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_glow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,2},{471,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,206}}</string>
                <key>sourceSize</key>
                <string>{471,206}</string>
            </dict>
            <key>ani_special_real_glow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,207}}</string>
                <key>sourceSize</key>
                <string>{620,207}</string>
            </dict>
            <key>ani_special_real_glow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{471,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,206}}</string>
                <key>sourceSize</key>
                <string>{471,206}</string>
            </dict>
            <key>ani_special_real_glow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,241},{394,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,242}}</string>
                <key>sourceSize</key>
                <string>{394,242}</string>
            </dict>
            <key>ani_special_real_glow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,248},{394,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,242}}</string>
                <key>sourceSize</key>
                <string>{394,242}</string>
            </dict>
            <key>ani_special_real_glow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1617},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_glow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1368},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_glow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ani_special_real_glow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{388,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,283}}</string>
                <key>sourceSize</key>
                <string>{388,283}</string>
            </dict>
            <key>ani_special_real_glow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{400,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,244}}</string>
                <key>sourceSize</key>
                <string>{400,244}</string>
            </dict>
            <key>ani_special_real_glow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{545,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,237}}</string>
                <key>sourceSize</key>
                <string>{545,237}</string>
            </dict>
            <key>bgtton_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,497},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>btn_click_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1533},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1305},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,1150},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1056},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,993},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,744},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1460},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>btn_click_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1221},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>edge_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1764},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>glow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1926},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>glow_00119.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1546},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1922},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>glow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1804},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1881,492},{260,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,152}}</string>
                <key>sourceSize</key>
                <string>{260,152}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,268},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>img_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,873},{185,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,115}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>ink_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,969},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,741},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,492},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>ink_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,717},{326,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,250}}</string>
                <key>sourceSize</key>
                <string>{326,250}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,575},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>particle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,754},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>particle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,990},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>particle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,647},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>particle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,475},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>particle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,241},{232,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,142}}</string>
                <key>sourceSize</key>
                <string>{232,142}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,210},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,419},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>texture_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1804},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1724},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>texture_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1602},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tips_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,211},{138,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>tips_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,210},{2,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,110}}</string>
                <key>sourceSize</key>
                <string>{2,110}</string>
            </dict>
            <key>tips_pengpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,326},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangbtn.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5794b94fa299f0bfd8d3eda864490fc2$</string>
            <key>textureFileName</key>
            <string>majiangbtn.png</string>
        </dict>
    </dict>
</plist>
