<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dir_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,281},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>img_card_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,377},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>img_dir_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>img_dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{56,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,98}}</string>
                <key>sourceSize</key>
                <string>{56,98}</string>
            </dict>
            <key>img_dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{134,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,40}}</string>
                <key>sourceSize</key>
                <string>{134,40}</string>
            </dict>
            <key>img_dir_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{54,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,98}}</string>
                <key>sourceSize</key>
                <string>{54,98}</string>
            </dict>
            <key>img_element_gamecenterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,145}}</string>
                <key>sourceSize</key>
                <string>{199,145}</string>
            </dict>
            <key>img_feng_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,256},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>img_feng_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,235},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>img_feng_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,279},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>img_feng_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,349},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>sezi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,239},{81,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,55}}</string>
                <key>sourceSize</key>
                <string>{81,55}</string>
            </dict>
            <key>sezi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,424},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>sezi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>sezi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,305},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>sezi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>sezi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,149},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
            <key>sezi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,322},{73,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,57}</string>
            </dict>
            <key>sezi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,224},{59,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>sezi_value1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,58},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>sezi_value2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,171},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>sezi_value3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,206},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>sezi_value4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,134},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>sezi_value5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,97},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>sezi_value6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:689308f2812127c19a35c0ed2494ed83$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
