<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{251,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,82}}</string>
                <key>sourceSize</key>
                <string>{251,82}</string>
            </dict>
            <key>jss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,82}}</string>
                <key>sourceSize</key>
                <string>{259,82}</string>
            </dict>
            <key>kdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{244,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,80}}</string>
                <key>sourceSize</key>
                <string>{244,80}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,84},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>lzp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>ps.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,84},{170,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,85}}</string>
                <key>sourceSize</key>
                <string>{170,85}</string>
            </dict>
            <key>tdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,171},{251,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,80}}</string>
                <key>sourceSize</key>
                <string>{251,80}</string>
            </dict>
            <key>tjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{248,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,80}}</string>
                <key>sourceSize</key>
                <string>{248,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_titile.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c055291d9919c03f16cfdb43e36a6b9$</string>
            <key>textureFileName</key>
            <string>game_titile.png</string>
        </dict>
    </dict>
</plist>
