<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{255,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,45}}</string>
                <key>sourceSize</key>
                <string>{255,45}</string>
            </dict>
            <key>replayExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>replayFast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>replayPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>replayPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>replayRewind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>replay.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c0431b654c2ee15f88bd8721877b20$</string>
            <key>textureFileName</key>
            <string>replay.png</string>
        </dict>
    </dict>
</plist>
