<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,749}}</string>
                <key>sourceSize</key>
                <string>{1334,749}</string>
            </dict>
            <key>btn-chense.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,75},{202,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,71}}</string>
                <key>sourceSize</key>
                <string>{202,71}</string>
            </dict>
            <key>btn-fenxiangfenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1165},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>btn-lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{202,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,71}}</string>
                <key>sourceSize</key>
                <string>{202,71}</string>
            </dict>
            <key>btn-likaifangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1337},{159,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,41}}</string>
                <key>sourceSize</key>
                <string>{159,41}</string>
            </dict>
            <key>chacha.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1253},{82,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,165}}</string>
                <key>sourceSize</key>
                <string>{82,165}</string>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,81},{173,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,55}}</string>
                <key>sourceSize</key>
                <string>{173,55}</string>
            </dict>
            <key>dsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,328},{181,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,54}}</string>
                <key>sourceSize</key>
                <string>{181,54}</string>
            </dict>
            <key>fen.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,256},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>hong0123456789+-.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1383},{348,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,47}}</string>
                <key>sourceSize</key>
                <string>{348,47}</string>
            </dict>
            <key>img-touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1208},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>img-tuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>img-wanjia-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,623},{193,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,473}}</string>
                <key>sourceSize</key>
                <string>{193,473}</string>
            </dict>
            <key>img-ziji-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,148},{193,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,473}}</string>
                <key>sourceSize</key>
                <string>{193,473}</string>
            </dict>
            <key>img_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1098},{187,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,50}}</string>
                <key>sourceSize</key>
                <string>{187,50}</string>
            </dict>
            <key>img_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1733},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>img_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1297},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>kd.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1202},{173,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,49}}</string>
                <key>sourceSize</key>
                <string>{173,49}</string>
            </dict>
            <key>lan0123456789+-.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1383},{348,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,47}}</string>
                <key>sourceSize</key>
                <string>{348,47}</string>
            </dict>
            <key>nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,511},{173,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,54}}</string>
                <key>sourceSize</key>
                <string>{173,54}</string>
            </dict>
            <key>tdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,863},{173,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,51}}</string>
                <key>sourceSize</key>
                <string>{173,51}</string>
            </dict>
            <key>tjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1038},{125,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,51}}</string>
                <key>sourceSize</key>
                <string>{125,51}</string>
            </dict>
            <key>ttz.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,686},{175,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,53}}</string>
                <key>sourceSize</key>
                <string>{175,53}</string>
            </dict>
            <key>ysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1150},{179,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,50}}</string>
                <key>sourceSize</key>
                <string>{179,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>report.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623f6031751d57397025f0e8446c8257$</string>
            <key>textureFileName</key>
            <string>report.png</string>
        </dict>
    </dict>
</plist>
