<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_common1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{1120,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1120,55}}</string>
                <key>sourceSize</key>
                <string>{1120,55}</string>
            </dict>
            <key>bg_common1_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,451},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{213,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,162}}</string>
                <key>sourceSize</key>
                <string>{213,162}</string>
            </dict>
            <key>btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{247,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,76}}</string>
                <key>sourceSize</key>
                <string>{247,76}</string>
            </dict>
            <key>btn_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{247,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,76}}</string>
                <key>sourceSize</key>
                <string>{247,76}</string>
            </dict>
            <key>btn_tiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,274},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,48}}</string>
                <key>sourceSize</key>
                <string>{118,48}</string>
            </dict>
            <key>btn_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,583},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>btn_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,735},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>chat_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{634,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,74}}</string>
                <key>sourceSize</key>
                <string>{634,74}</string>
            </dict>
            <key>chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{330,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,2}}</string>
                <key>sourceSize</key>
                <string>{330,2}</string>
            </dict>
            <key>chat_tab0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,530},{66,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,180}}</string>
                <key>sourceSize</key>
                <string>{66,180}</string>
            </dict>
            <key>chat_tab0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,462},{66,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,180}}</string>
                <key>sourceSize</key>
                <string>{66,180}</string>
            </dict>
            <key>chat_tab1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,394},{66,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,180}}</string>
                <key>sourceSize</key>
                <string>{66,180}</string>
            </dict>
            <key>chat_tab1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,326},{66,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,180}}</string>
                <key>sourceSize</key>
                <string>{66,180}</string>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{514,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,48}}</string>
                <key>sourceSize</key>
                <string>{514,48}</string>
            </dict>
            <key>game_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,168},{88,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,47}}</string>
                <key>sourceSize</key>
                <string>{88,47}</string>
            </dict>
            <key>gangzhu_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,487},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>guanzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,523},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>icon_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,801},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>info_power_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,274},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>info_power_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,451},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,217},{232,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,85}}</string>
                <key>sourceSize</key>
                <string>{232,85}</string>
            </dict>
            <key>last.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,607},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,555},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,554},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>no_man_watchgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{370,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,54}}</string>
                <key>sourceSize</key>
                <string>{370,54}</string>
            </dict>
            <key>play_direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,330},{40,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,114}}</string>
                <key>sourceSize</key>
                <string>{40,114}</string>
            </dict>
            <key>play_direction_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,710},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>play_exitBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,778},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>play_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,763},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>play_god_luck.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,780},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>play_god_wash.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,710},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>play_helpBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,836},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>play_liaotian_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,799},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>play_room_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,778},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>play_setBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,735},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>play_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,714},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>play_yuyin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,714},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>quxiaotuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,179},{145,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,34}}</string>
                <key>sourceSize</key>
                <string>{145,34}</string>
            </dict>
            <key>shadow_tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{1334,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,350}}</string>
                <key>sourceSize</key>
                <string>{1334,350}</string>
            </dict>
            <key>socreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,134},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,32}}</string>
                <key>sourceSize</key>
                <string>{90,32}</string>
            </dict>
            <key>table_min_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,598},{169,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,110}}</string>
                <key>sourceSize</key>
                <string>{169,110}</string>
            </dict>
            <key>table_min_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,543},{169,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,110}}</string>
                <key>sourceSize</key>
                <string>{169,110}</string>
            </dict>
            <key>table_min_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,372},{169,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,110}}</string>
                <key>sourceSize</key>
                <string>{169,110}</string>
            </dict>
            <key>tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{232,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,83}}</string>
                <key>sourceSize</key>
                <string>{232,83}</string>
            </dict>
            <key>tuoguantip_tjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{516,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,43}}</string>
                <key>sourceSize</key>
                <string>{516,43}</string>
            </dict>
            <key>tuoguantip_ysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{555,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,43}}</string>
                <key>sourceSize</key>
                <string>{555,43}</string>
            </dict>
            <key>watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>watch_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{652,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,54}}</string>
                <key>sourceSize</key>
                <string>{652,54}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,523},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71d0da08bfcc2860e1c2fc6f74d2b39c$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
