<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardType100.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,448},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>cardType150.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,220},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>cardType160.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,672},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>cardType170.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,775},{94,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,49}}</string>
                <key>sourceSize</key>
                <string>{94,49}</string>
            </dict>
            <key>cardType180.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,742},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType190.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,750},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>cardType200.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,694},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>cardType210.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{96,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,49}}</string>
                <key>sourceSize</key>
                <string>{96,49}</string>
            </dict>
            <key>cardType220.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,458},{95,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>cardType230.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,113},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>cardType240.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,633},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>cardType250.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,738},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType260.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{95,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>cardType270.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,56},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>cardType280.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,686},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType290.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,360},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>cardType300.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,113},{103,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>cardType310.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,555},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{97,53}</string>
            </dict>
            <key>cardType320.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,744},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>cardType330.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,841},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType340.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>cardType350.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,790},{95,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>cardType360.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,418},{95,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>cardType370.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>cardType380.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,46}}</string>
                <key>sourceSize</key>
                <string>{97,46}</string>
            </dict>
            <key>cardType390.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,645},{95,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>cardType400.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,840},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType420.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,723},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>cardType430.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,350},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>cardType440.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,540},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>cardType450.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,166},{103,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,53}}</string>
                <key>sourceSize</key>
                <string>{103,53}</string>
            </dict>
            <key>cardType460.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,568},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>cardType470.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,796},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>cardType480.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,515},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>cardType490.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,652},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{96,50}</string>
            </dict>
            <key>cardType500.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,251},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
            <key>cardType510.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,438},{98,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,48}}</string>
                <key>sourceSize</key>
                <string>{98,48}</string>
            </dict>
            <key>cardType520.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,221},{102,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,53}}</string>
                <key>sourceSize</key>
                <string>{104,53}</string>
            </dict>
            <key>cardType540.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{95,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,44}}</string>
                <key>sourceSize</key>
                <string>{97,44}</string>
            </dict>
            <key>cardType550.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,583},{97,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,48}}</string>
                <key>sourceSize</key>
                <string>{97,48}</string>
            </dict>
            <key>cardType560.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,643},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>cardType570.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,276},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>cardType580.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{98,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cardType590.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{97,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
            <key>cardType600.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,113},{106,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,51}}</string>
                <key>sourceSize</key>
                <string>{106,51}</string>
            </dict>
            <key>cardType610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{96,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{98,50}</string>
            </dict>
            <key>cardType620.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,621},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{99,49}</string>
            </dict>
            <key>cardType630.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,488},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>cardType640.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,378},{98,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>cardType650.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,328},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{101,48}</string>
            </dict>
            <key>cardType660.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{98,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,53}}</string>
                <key>sourceSize</key>
                <string>{100,53}</string>
            </dict>
            <key>cardType670.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{105,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,50}}</string>
                <key>sourceSize</key>
                <string>{107,50}</string>
            </dict>
            <key>cardType680.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,592},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{99,49}</string>
            </dict>
            <key>cardType690.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,486},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>cardType700.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,387},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>cardType720.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>cardType730.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,332},{99,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
            <key>cardType740.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,276},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>cardType750.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,158},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
            <key>cardType760.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{99,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType770.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,535},{98,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,46}}</string>
                <key>sourceSize</key>
                <string>{98,46}</string>
            </dict>
            <key>cardType780.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{143,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,53}}</string>
                <key>sourceSize</key>
                <string>{143,53}</string>
            </dict>
            <key>cardType790.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,57},{144,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,54}}</string>
                <key>sourceSize</key>
                <string>{146,54}</string>
            </dict>
            <key>cardType800.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{159,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,54}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
            <key>cardType810.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{145,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,53}}</string>
                <key>sourceSize</key>
                <string>{147,53}</string>
            </dict>
            <key>cardType820.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType830.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType840.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType850.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType860.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,58},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>cardType870.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,58},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>cardType880.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,58},{106,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,53}}</string>
                <key>sourceSize</key>
                <string>{106,53}</string>
            </dict>
            <key>cardType890.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{99,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType900.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,218},{99,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>cardType910.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,433},{98,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,51}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>cardType920.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,58},{98,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>cardType930.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,546},{97,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
            <key>cardType940.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{98,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,53}}</string>
                <key>sourceSize</key>
                <string>{98,53}</string>
            </dict>
            <key>cardType950.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{192,52}</string>
            </dict>
            <key>cardType960.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>cardType970.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,263},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{97,55}</string>
            </dict>
            <key>cardType980.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,164},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>cardType990.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,319},{97,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,54}}</string>
                <key>sourceSize</key>
                <string>{97,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zpjCardsType.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2030ec026fadb9dff5c580156126ffe$</string>
            <key>textureFileName</key>
            <string>zpjCardsType.png</string>
        </dict>
    </dict>
</plist>
