<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,317},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,383},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card104.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,282},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card105.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,247},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card107.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,247},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card109.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,212},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card110.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,177},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card115.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,142},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card118.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,142},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,107},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,72},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,37},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{33,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,102}}</string>
                <key>sourceSize</key>
                <string>{33,102}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{33,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,103}}</string>
                <key>sourceSize</key>
                <string>{33,103}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{66,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,137}}</string>
                <key>sourceSize</key>
                <string>{66,137}</string>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,137}}</string>
                <key>sourceSize</key>
                <string>{66,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zpjCards.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfe7698420b057775949532c684f08e4$</string>
            <key>textureFileName</key>
            <string>zpjCards.png</string>
        </dict>
    </dict>
</plist>
