<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiShen_par_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caiShen_par_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1018},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caiShen_par_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1018},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1018},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,510},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,510},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,510},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,2},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>caishen_par_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,506}}</string>
                <key>sourceSize</key>
                <string>{509,506}</string>
            </dict>
            <key>glow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1526},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1526},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1526},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>glow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1526},{393,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,393}}</string>
                <key>sourceSize</key>
                <string>{393,393}</string>
            </dict>
            <key>rotating_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1784},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1784},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1784},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1784},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2034},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2034},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1921},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1921},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1784},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1674},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1674},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,1526},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,1526},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>rotating_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1921},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fancaishen.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9597a1c05d839d72b3836fa2111d708c$</string>
            <key>textureFileName</key>
            <string>fancaishen.png</string>
        </dict>
    </dict>
</plist>
