<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bipaiBg.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{283,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,212}}</string>
                <key>sourceSize</key>
                <string>{283,212}</string>
            </dict>
            <key>dbjd_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,117},{147,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,113}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>dbjd_leftBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,255}}</string>
                <key>sourceSize</key>
                <string>{452,255}</string>
            </dict>
            <key>dbjd_light0.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,676},{203,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,102}}</string>
                <key>sourceSize</key>
                <string>{203,102}</string>
            </dict>
            <key>dbjd_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,676},{203,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,99}}</string>
                <key>sourceSize</key>
                <string>{203,99}</string>
            </dict>
            <key>dbjd_light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,471},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,881},{203,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,101}}</string>
                <key>sourceSize</key>
                <string>{203,101}</string>
            </dict>
            <key>dbjd_light12.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,266},{203,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,102}}</string>
                <key>sourceSize</key>
                <string>{203,102}</string>
            </dict>
            <key>dbjd_light13.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,471},{203,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,98}}</string>
                <key>sourceSize</key>
                <string>{203,98}</string>
            </dict>
            <key>dbjd_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,266},{203,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,96}}</string>
                <key>sourceSize</key>
                <string>{203,96}</string>
            </dict>
            <key>dbjd_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,266},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,756},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,551},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,756},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,551},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>dbjd_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{128,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,113}}</string>
                <key>sourceSize</key>
                <string>{128,113}</string>
            </dict>
            <key>dbjd_rightBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{434,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,255}}</string>
                <key>sourceSize</key>
                <string>{434,255}</string>
            </dict>
            <key>dbjd_zhizhen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,117},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>dbjd_zhizhen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,961},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>dbjd_zhizhen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>dbjd_zhizhen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,961},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dbjdBipai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ab580a3b742d197b270939284154b1$</string>
            <key>textureFileName</key>
            <string>dbjdBipai.png</string>
        </dict>
    </dict>
</plist>
