<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,595},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,590},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,590},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,555},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,585},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,504},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>200.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,518},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,430},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>235.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,442},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,467},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,416},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,365},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,337},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,470},{100,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,314},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,263},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{154,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,27}}</string>
                <key>sourceSize</key>
                <string>{154,27}</string>
            </dict>
            <key>bipai_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,168},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>bipai_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,128},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>bpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,77},{120,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,185}}</string>
                <key>sourceSize</key>
                <string>{120,185}</string>
            </dict>
            <key>btn_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,101},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>btn_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,261},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>btn_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,195},{182,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,64}}</string>
                <key>sourceSize</key>
                <string>{182,64}</string>
            </dict>
            <key>btn_quxiao_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>cancelauto.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,72},{206,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,27}}</string>
                <key>sourceSize</key>
                <string>{206,27}</string>
            </dict>
            <key>cardtype_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,549},{70,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,39}}</string>
                <key>sourceSize</key>
                <string>{70,39}</string>
            </dict>
            <key>cardtype_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,529},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>cardtype_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,561},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>cardtype_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,469},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>cardtype_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,430},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>cardtype_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,544},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>cencel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{81,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>chip_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{198,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,69}}</string>
                <key>sourceSize</key>
                <string>{198,69}</string>
            </dict>
            <key>click_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,208},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>click_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,327},{107,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,27}}</string>
                <key>sourceSize</key>
                <string>{107,27}</string>
            </dict>
            <key>click_kanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,219},{173,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,52}}</string>
                <key>sourceSize</key>
                <string>{173,52}</string>
            </dict>
            <key>dianjikanpai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{226,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,68}}</string>
                <key>sourceSize</key>
                <string>{226,68}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,442},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>down_action.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,349},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>img_paibei_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{153,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,200}}</string>
                <key>sourceSize</key>
                <string>{153,200}</string>
            </dict>
            <key>img_paibei_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,327},{113,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,156}}</string>
                <key>sourceSize</key>
                <string>{113,156}</string>
            </dict>
            <key>kaipai_type_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,504},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>kaipai_type_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,633},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>kaipai_type_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,550},{82,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{82,43}</string>
            </dict>
            <key>kaipai_type_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,588},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>kaipai_type_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,505},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>kaipai_type_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,158},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>no_use_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>not_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,170},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>not_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,521},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>not_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,310},{121,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,37}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>not_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,567},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>pds.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,73},{120,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,185}}</string>
                <key>sourceSize</key>
                <string>{120,185}</string>
            </dict>
            <key>public_auto_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,167},{168,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,50}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>public_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,342},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
            <key>public_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,481},{96,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,46}}</string>
                <key>sourceSize</key>
                <string>{96,46}</string>
            </dict>
            <key>public_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,167},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,50}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>publlic_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,244},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>text_235.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,588},{66,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,37}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>tip_menpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,567},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>tip_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,88},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>type_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,44}}</string>
                <key>sourceSize</key>
                <string>{351,44}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{121,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{121,123}</string>
            </dict>
            <key>user_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,465},{99,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>yes_bipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,77},{91,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,40}}</string>
                <key>sourceSize</key>
                <string>{91,40}</string>
            </dict>
            <key>yes_genzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,504},{84,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,38}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>yes_jiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,549},{112,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,37}}</string>
                <key>sourceSize</key>
                <string>{112,37}</string>
            </dict>
            <key>yes_qipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,508},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>yikanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,48},{127,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,38}}</string>
                <key>sourceSize</key>
                <string>{127,38}</string>
            </dict>
            <key>yse_use_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{220,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,36}}</string>
                <key>sourceSize</key>
                <string>{220,36}</string>
            </dict>
            <key>×10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,353},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>×10hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,276},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>×2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,350},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×2hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×3hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,392},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,279},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×4hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,436},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>×5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,427},{110,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>×5hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,388},{110,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>×8.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,199},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
            <key>×8hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,273},{170,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,75}}</string>
                <key>sourceSize</key>
                <string>{170,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ysz_game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a87095e3ca4c3623fda941e75acb1d5$</string>
            <key>textureFileName</key>
            <string>ysz_game.png</string>
        </dict>
    </dict>
</plist>
