<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,216}}</string>
                <key>sourceSize</key>
                <string>{292,216}</string>
            </dict>
            <key>dsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,513},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
            <key>kdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
            <key>nn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
            <key>tdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
            <key>tjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
            <key>ttz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,216}}</string>
                <key>sourceSize</key>
                <string>{292,216}</string>
            </dict>
            <key>ysz.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{291,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,216}}</string>
                <key>sourceSize</key>
                <string>{291,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_romm.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97b8d272d9c58f4896574c0172df6753$</string>
            <key>textureFileName</key>
            <string>create_romm.png</string>
        </dict>
    </dict>
</plist>
