<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{225,91},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cjfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,114}</string>
                <key>spriteSourceSize</key>
                <string>{311,114}</string>
                <key>textureRect</key>
                <string>{{0,362},{311,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_deler.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,91}</string>
                <key>spriteSourceSize</key>
                <string>{74,91}</string>
                <key>textureRect</key>
                <string>{{82,173},{74,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,51}</string>
                <key>spriteSourceSize</key>
                <string>{106,51}</string>
                <key>textureRect</key>
                <string>{{0,91},{106,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,92}</string>
                <key>spriteSourceSize</key>
                <string>{72,92}</string>
                <key>textureRect</key>
                <string>{{0,264},{72,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hongb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{153,91},{72,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_joinroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,91}</string>
                <key>spriteSourceSize</key>
                <string>{301,91}</string>
                <key>textureRect</key>
                <string>{{156,173},{301,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_laba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{110,0},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,49}</string>
                <key>spriteSourceSize</key>
                <string>{105,49}</string>
                <key>textureRect</key>
                <string>{{230,41},{105,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,38}</string>
                <key>spriteSourceSize</key>
                <string>{110,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{307,91},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wanf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,41}</string>
                <key>spriteSourceSize</key>
                <string>{109,41}</string>
                <key>textureRect</key>
                <string>{{152,0},{109,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zhanji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,49}</string>
                <key>spriteSourceSize</key>
                <string>{102,49}</string>
                <key>textureRect</key>
                <string>{{335,41},{102,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fankui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{389,91},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{0,173},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{437,41},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,46}</string>
                <key>spriteSourceSize</key>
                <string>{230,46}</string>
                <key>textureRect</key>
                <string>{{0,41},{230,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{106,91},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,54}</string>
                <key>spriteSourceSize</key>
                <string>{2,54}</string>
                <key>textureRect</key>
                <string>{{151,91},{2,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,98}</string>
                <key>spriteSourceSize</key>
                <string>{305,98}</string>
                <key>textureRect</key>
                <string>{{72,264},{305,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallnew.png</string>
            <key>size</key>
            <string>{487,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5c36dc96a9476f7997a6a773cc7a138:5339341a8dd20ca349d974fb9a5b8c42:f2003e677009df093be37bec4302c038$</string>
            <key>textureFileName</key>
            <string>hallnew.png</string>
        </dict>
    </dict>
</plist>
