<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,983},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>seeing_right_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>seeting_BBordeerr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{731,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{731,166}}</string>
                <key>sourceSize</key>
                <string>{731,166}</string>
            </dict>
            <key>seeting_laft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>seeting_laft_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>seeting_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>seeting_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{132,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,25}}</string>
                <key>sourceSize</key>
                <string>{132,25}</string>
            </dict>
            <key>seeting_xianzhongBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{168,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
            <key>setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,240},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,214},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,188},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,24}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,266},{386,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,30}}</string>
                <key>sourceSize</key>
                <string>{386,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_setting.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf46e321b4e655fb2ead045a90798808$</string>
            <key>textureFileName</key>
            <string>hall_setting.png</string>
        </dict>
    </dict>
</plist>
