<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1520},{144,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>club_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{378,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,551}}</string>
                <key>sourceSize</key>
                <string>{378,551}</string>
            </dict>
            <key>clubtopbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,368},{256,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,34}}</string>
                <key>sourceSize</key>
                <string>{256,34}</string>
            </dict>
            <key>create_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1453},{159,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,141}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>create_romm.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1391},{269,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,238}}</string>
                <key>sourceSize</key>
                <string>{269,238}</string>
            </dict>
            <key>daili.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1151},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>dalibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1741},{303,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,459}}</string>
                <key>sourceSize</key>
                <string>{303,459}</string>
            </dict>
            <key>dou_num_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1666},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>dou_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,968},{227,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,46}}</string>
                <key>sourceSize</key>
                <string>{227,46}</string>
            </dict>
            <key>fangzhu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1014},{111,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,90}}</string>
                <key>sourceSize</key>
                <string>{111,90}</string>
            </dict>
            <key>footer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,471},{1268,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1268,65}}</string>
                <key>sourceSize</key>
                <string>{1268,65}</string>
            </dict>
            <key>hall_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1485},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>headimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,911},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>home_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1559},{171,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,41}}</string>
                <key>sourceSize</key>
                <string>{171,41}</string>
            </dict>
            <key>home_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1596},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>home_create_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,827},{51,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,137}}</string>
                <key>sourceSize</key>
                <string>{51,137}</string>
            </dict>
            <key>home_create_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,702},{326,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,119}}</string>
                <key>sourceSize</key>
                <string>{326,119}</string>
            </dict>
            <key>home_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1428},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>home_friend_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1197},{117,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,45}}</string>
                <key>sourceSize</key>
                <string>{117,45}</string>
            </dict>
            <key>home_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1312},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>home_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1567},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>home_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1077},{193,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,30}}</string>
                <key>sourceSize</key>
                <string>{193,30}</string>
            </dict>
            <key>home_join_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,332},{51,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,137}}</string>
                <key>sourceSize</key>
                <string>{51,137}</string>
            </dict>
            <key>home_join_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,827},{331,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,121}}</string>
                <key>sourceSize</key>
                <string>{331,121}</string>
            </dict>
            <key>home_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2020},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>home_laba_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{574,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,34}}</string>
                <key>sourceSize</key>
                <string>{574,34}</string>
            </dict>
            <key>home_notic.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1336},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>home_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1244},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>home_setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1653},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>home_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,806},{30,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,269}}</string>
                <key>sourceSize</key>
                <string>{30,269}</string>
            </dict>
            <key>home_up_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{1650,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1650,135}}</string>
                <key>sourceSize</key>
                <string>{1650,135}</string>
            </dict>
            <key>home_wanfa_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1443},{114,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,44}}</string>
                <key>sourceSize</key>
                <string>{114,44}</string>
            </dict>
            <key>home_zhanji_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1106},{111,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,43}}</string>
                <key>sourceSize</key>
                <string>{111,43}</string>
            </dict>
            <key>hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1631},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>i_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1151},{269,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,238}}</string>
                <key>sourceSize</key>
                <string>{269,238}</string>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,702},{1027,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1027,58}}</string>
                <key>sourceSize</key>
                <string>{1027,58}</string>
            </dict>
            <key>infro_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1189},{121,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,39}}</string>
                <key>sourceSize</key>
                <string>{121,39}</string>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,950},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>jifen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1189},{208,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,43}}</string>
                <key>sourceSize</key>
                <string>{208,43}</string>
            </dict>
            <key>join_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1310},{159,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,141}}</string>
                <key>sourceSize</key>
                <string>{159,141}</string>
            </dict>
            <key>join_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,911},{269,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,238}}</string>
                <key>sourceSize</key>
                <string>{269,238}</string>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1272},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>lianxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{2,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,309}}</string>
                <key>sourceSize</key>
                <string>{2,309}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{304,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,2}}</string>
                <key>sourceSize</key>
                <string>{304,2}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1244},{35,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,61}}</string>
                <key>sourceSize</key>
                <string>{35,61}</string>
            </dict>
            <key>main_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1631},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>name_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1631},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>player_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,950},{269,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,237}}</string>
                <key>sourceSize</key>
                <string>{269,237}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1347},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>railing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{630,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,328}}</string>
                <key>sourceSize</key>
                <string>{630,328}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1316},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>role_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1234},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>screen_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,555},{270,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,360}}</string>
                <key>sourceSize</key>
                <string>{270,360}</string>
            </dict>
            <key>screen_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,368},{332,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,390}}</string>
                <key>sourceSize</key>
                <string>{332,390}</string>
            </dict>
            <key>userInfo_head_Imp.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1402},{81,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,85}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,823},{323,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,86}}</string>
                <key>sourceSize</key>
                <string>{323,86}</string>
            </dict>
            <key>userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,626},{178,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,34}}</string>
                <key>sourceSize</key>
                <string>{178,34}</string>
            </dict>
            <key>yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2020},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>zhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1347},{14,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,47}}</string>
                <key>sourceSize</key>
                <string>{14,47}</string>
            </dict>
            <key>zhuangshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1301},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>zhuangshi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2020},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903947aa0972bffc820879bdb6f6d0e8$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
