<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,90}</string>
                <key>spriteSourceSize</key>
                <string>{238,90}</string>
                <key>textureRect</key>
                <string>{{0,186},{238,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,122}</string>
                <key>spriteSourceSize</key>
                <string>{66,122}</string>
                <key>textureRect</key>
                <string>{{161,0},{66,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,85}</string>
                <key>spriteSourceSize</key>
                <string>{71,85}</string>
                <key>textureRect</key>
                <string>{{34,0},{71,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_phonenew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,113}</string>
                <key>spriteSourceSize</key>
                <string>{56,113}</string>
                <key>textureRect</key>
                <string>{{105,0},{56,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,109}</string>
                <key>spriteSourceSize</key>
                <string>{122,109}</string>
                <key>textureRect</key>
                <string>{{227,0},{122,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,320}</string>
                <key>spriteSourceSize</key>
                <string>{214,320}</string>
                <key>textureRect</key>
                <string>{{238,186},{214,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,64}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{0,122},{190,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,51}</string>
                <key>spriteSourceSize</key>
                <string>{264,51}</string>
                <key>textureRect</key>
                <string>{{190,122},{264,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>openexchange.png</string>
            <key>size</key>
            <string>{454,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbca30fbeab0452c85507b5807d5a37a:8e962c2bb68a7403966f1c4a1cf34b51:265f03b441f6c33709dc5fd474b8a114$</string>
            <key>textureFileName</key>
            <string>openexchange.png</string>
        </dict>
    </dict>
</plist>
