<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuenbo_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,608},{233,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,237}}</string>
                <key>sourceSize</key>
                <string>{233,237}</string>
            </dict>
            <key>yuenbo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,356}}</string>
                <key>sourceSize</key>
                <string>{350,356}</string>
            </dict>
            <key>yuenbo_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{233,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,237}}</string>
                <key>sourceSize</key>
                <string>{233,237}</string>
            </dict>
            <key>yuenbo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{252,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,322}}</string>
                <key>sourceSize</key>
                <string>{252,322}</string>
            </dict>
            <key>yuenbo_num_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
            <key>yuenbo_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,29},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>yuenbo_num_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,25}}</string>
                <key>sourceSize</key>
                <string>{72,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopping.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b9a7c58b204c21f8f0176a292a68bfb$</string>
            <key>textureFileName</key>
            <string>shopping.png</string>
        </dict>
    </dict>
</plist>
