<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,700},{240,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,159},{240,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,810},{234,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,162},{234,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,634},{184,174}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,155},{184,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,880},{194,174}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,155},{194,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,438},{194,186}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,155},{194,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{228,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,165},{228,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,700},{220,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,167},{220,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{512,434}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{468,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{468,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,380},{396,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,97},{396,318}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{324,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{324,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{252,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,154},{252,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>piao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,896},{180,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,183},{180,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buhua_efx.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2491219dcfe347cb41a64d0ffde9a19$</string>
            <key>textureFileName</key>
            <string>buhua_efx.png</string>
        </dict>
    </dict>
</plist>
