<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameEnd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,265},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,31}</string>
            </dict>
            <key>GameEnd20.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,488},{95,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,29}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>GameEnd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,320},{64,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,130}}</string>
                <key>sourceSize</key>
                <string>{64,130}</string>
            </dict>
            <key>GameEndHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,236},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>Timer_blackBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>Timer_wind0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,591},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,42}}</string>
                <key>sourceSize</key>
                <string>{120,42}</string>
            </dict>
            <key>Timer_wind1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{44,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,118}}</string>
                <key>sourceSize</key>
                <string>{44,118}</string>
            </dict>
            <key>Timer_wind2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,143},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>Timer_wind3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,591},{44,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,118}}</string>
                <key>sourceSize</key>
                <string>{44,118}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>banker_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,450},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,495},{148,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{148,138}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,355},{148,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{148,138}</string>
            </dict>
            <key>btn_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,591},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,504},{127,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,125}}</string>
                <key>sourceSize</key>
                <string>{127,125}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,427},{148,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{148,138}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,567},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,287},{148,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{148,138}</string>
            </dict>
            <key>chipaibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{210,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>daojishi_guangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,450},{52,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,132}}</string>
                <key>sourceSize</key>
                <string>{52,132}</string>
            </dict>
            <key>decision_sign_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,387},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,96}}</string>
                <key>sourceSize</key>
                <string>{106,96}</string>
            </dict>
            <key>decision_sign_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,450},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>decision_sign_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,450},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>decision_sign_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,104},{180,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,98}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>guohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,287},{65,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,31}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
            <key>guohu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,452},{137,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,55}}</string>
                <key>sourceSize</key>
                <string>{137,55}</string>
            </dict>
            <key>handmah_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{103,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,139}}</string>
                <key>sourceSize</key>
                <string>{103,139}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,204},{149,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,164}}</string>
                <key>sourceSize</key>
                <string>{149,164}</string>
            </dict>
            <key>hu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,446}}</string>
                <key>sourceSize</key>
                <string>{542,446}</string>
            </dict>
            <key>pai_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,184},{230,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,101}}</string>
                <key>sourceSize</key>
                <string>{230,101}</string>
            </dict>
            <key>peng_gang_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,355},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>penggang_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,298},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>play_scene_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,483},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>sichuan_room_fangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,485},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>sichuan_room_fangxiang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,590},{21,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,92}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
            <key>sichuan_room_fangxiang_001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,681},{21,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,92}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
            <key>sichuan_room_fangxiang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,658},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>sichuan_room_fangxiang_002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,635},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>sichuan_room_fangxiang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,567},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>sichuan_room_fangxiang_003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,567},{92,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,21}}</string>
                <key>sourceSize</key>
                <string>{92,21}</string>
            </dict>
            <key>sichuan_room_fangxiang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,590},{21,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,92}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
            <key>sichuan_room_fangxiang_004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,550},{21,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,92}}</string>
                <key>sourceSize</key>
                <string>{21,92}</string>
            </dict>
            <key>sichuan_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,450},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>sichuantouxiang002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,631},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,96}}</string>
                <key>sourceSize</key>
                <string>{98,96}</string>
            </dict>
            <key>tile_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,104},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{180,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,246}}</string>
                <key>sourceSize</key>
                <string>{180,246}</string>
            </dict>
            <key>zting_imo.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,204},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_room.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e34c7cb678bda7dbac515be6f2d5e11$</string>
            <key>textureFileName</key>
            <string>mj_room.png</string>
        </dict>
    </dict>
</plist>
